autogen-agentchat==0.2.27
crewai==0.30.0
langgraph==0.0.65
langchain==0.2.0
langchain-community==0.2.0
langchain-ollama==0.1.0
yfinance==0.2.40
jugaad-data==0.27
pdfplumber==0.11.1
chromadb==0.5.0
gradio==4.31.5
beautifulsoup4==4.12.3
requests==2.32.2
duckduckgo-search==6.1.1
pandas==2.2.2